#!/usr/bin/env bash

# Load environment variables from .env files

# Read current environment from state file (if exists)
if [ -f ./config/.env.current ]; then
    export ENV=$(cat ./config/.env.current)
fi

# Default to local if ENV is not set
ENV=${ENV:-local}
echo "🚀 Environment: $ENV"


# -----------------------------------------------------------------------------
# Load environment variables from .env files
# -----------------------------------------------------------------------------
echo "🚀 Loading environment variables from .env.local"
[[ -f ./config/.env.local ]] && dotenv ./config/.env.local
[[ -f ./config/.env.local ]] && cp ./config/.env.local ./packages/transactional/.env

if [ "$ENV" = "local" ]; then
    echo "🚀 Overriding environment variables with .env.override"
    [[ -f ./config/.env.override ]] && dotenv ./config/.env.override

    echo "🚀 Overriding environment variables to packages/transactional"
    [[ -f ./config/.env.override ]] && cp ./config/.env.override ./packages/transactional/.env

    echo "🚀 Loading environment variables on client/main"
    [[ -f ./client/main/.env.development ]] && cp ./client/main/.env.development ./client/main/.env.development.local
fi

if [ "$ENV" = "development" ]; then
    echo "🚀 Loading environment variables from .env.development"
    [[ -f ./config/.env.development ]] && dotenv ./config/.env.development

    echo "🚀 Copying environment variables to packages/transactional"
    [[ -f ./config/.env.development ]] && cp ./config/.env.development ./packages/transactional/.env

    echo "🚀 Loading environment variables on client/main"
    [[ -f ./client/main/.env.development ]] && cp ./client/main/.env.development ./client/main/.env.development.local
fi

if [ "$ENV" = "production" ]; then
    echo "🚀 Loading environment variables from .env.production"
    [[ -f ./config/.env.production ]] && dotenv ./config/.env.production

    echo "🚀 Copying environment variables to packages/transactional"
    [[ -f ./config/.env.production ]] && cp ./config/.env.production ./packages/transactional/.env

    echo "🚀 Loading environment variables on client/main"
    [[ -f ./client/main/.env.production ]] && cp ./client/main/.env.production ./client/main/.env.development.local
fi

echo "✅ Environment variables loaded successfully"

# Clean up state file
rm -f ./config/.env.current