#!/usr/bin/env bash

# Load environment variables from .env files

# Read current environment from state file (if exists)
if [ -f ./config/.env.current ]; then
    export ENV=$(cat ./config/.env.current)
fi

# Default to local if ENV is not set
ENV=${ENV:-local}
echo "🚀 Environment: $ENV"


# -----------------------------------------------------------------------------
# Load environment variables from .env files
# -----------------------------------------------------------------------------
echo "🚀 Loading environment variables from .env.local"

if [ -f ./config/.env.local ]; then
    dotenv ./config/.env.local
    cp ./config/.env.local ./packages/transactional/.env
    cp ./config/.env.local ./client/main/.env.local
    cp ./config/.env.local ./packages/migrations/.env.local
    cp ./config/.env.local ./packages/supabase/.env
fi


if [ "$ENV" = "local" ]; then
    if [ -f ./config/.env.override ]; then
        echo "🚀 Overriding environment variables with .env.override"
        dotenv ./config/.env.override
    fi
fi

if [ "$ENV" = "development" ]; then
    echo "🚀 Loading environment variables from .env.development"

    if [ -f ./config/.env.override ]; then
        dotenv ./config/.env.development

        echo "🚀 Copying environment variables to packages/transactional"
        cp ./config/.env.development ./packages/transactional/.env

        echo "🚀 Copying environment variables to client/main"
        cp ./config/.env.development ./client/main/.env.local

        echo "🚀 Copying environment variables to packages/migrations"
        cp ./config/.env.development ./packages/migrations/.env.local

        echo "🚀 Copying environment variables to packages/supabase"
        cp ./config/.env.development ./packages/supabase/.env
    fi
fi

if [ "$ENV" = "production" ]; then
    echo "🚀 Loading environment variables from .env.production"

    if [ -f ./config/.env.production ]; then
        dotenv ./config/.env.production

        echo "🚀 Copying environment variables to packages/transactional"
        cp ./config/.env.production ./packages/transactional/.env

        echo "🚀 Copying environment variables to client/main"
        cp ./config/.env.production ./client/main/.env.local

        echo "🚀 Copying environment variables to packages/migrations"
        cp ./config/.env.production ./packages/migrations/.env.local

        echo "🚀 Copying environment variables to packages/supabase"
        cp ./config/.env.production ./packages/supabase/.env
    fi

    
fi

echo "✅ Environment variables loaded successfully"

# Clean up state file
rm -f ./config/.env.current